<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/new">Search</a>
  </nav>
  <% books.forEach(element=> { %>
    <div>
      <img src="<%= element.image_url %>" alt="">
      <h2>
        <%=element.title%>
      </h2>
      <h4>
        <%=element.author%>
      </h4>
      <p>
        <%=element.description%>
      </p>
      <p>
        <%=element.ISBN%>
      </p>
      <form action="/books" method="POST">
        <input type="hidden" name="image_url" value="<%= element.image_url %>">
        <input type="hidden" name="title" value="<%=element.title%>">
        <input type="hidden" name="author" value="<%=element.author%>">
        <input type="hidden" name="description" value="<%=element.description%>">
        <input type="hidden" name="ISBN" value="<%=element.ISBN%>">
        <button id="addtofavbtn" type="submit"> Add to favorite </button>
      </form>
    </div>
    <% }) %>
</body>

</html>